<mat-dialog-content>
  <div class="popup-body">
    <div class="inventual-popup-inner">
      <div class="inventual-popup-header relative mb-5">
        <div class="inventual-popup-header-title">
          <h4 class="text-[20px] text-white font-bold bg-primary p-5">Crear Tipo de cuarto</h4>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0 px-5 pb-5">
        <div class="col-span-6 sm:col-span-12">
          <div class="inventual-select-field mb-6">
            <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre de tipo de cuarto</h5>
            <div class="inventual-input-field-style">
              <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden">Nombre</mat-label>
                <input type="text" matInput [(ngModel)]="tipoCuarto.nombre" placeholder="Ej. cuarto xl">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-span-6 sm:col-span-12">
          <div class="inventual-select-field mb-6">
            <h5 class="text-[15px] text-heading font-semibold mb-3">Descripción</h5>
            <div class="inventual-input-field-style">
              <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden">Nombre</mat-label>
               <textarea matInput [(ngModel)]="tipoCuarto.descripcion"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-span-3 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Precio</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Precio</mat-label>
                                Bs.<input type="number" matInput [placeholder]="'Ej. 3595.00'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
      
        
    
       
        <div class="col-span-12">
          <div class="inventual-material-btn pt-1.5 justify-end">
            <button type="submit" mat-raised-button color="danger" (click)="cerrarDialog()">Cancelar</button>
            <button type="submit" mat-raised-button color="primary" (click)="crearTipoCuarto()">Crear tipo de cuarto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>